.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 1px #242424 solid;
  border-radius: 4px;
  background-color: lightgrey;
  margin: 16px;
}

.image {
  background-color: #242424;
  width: 76px;
  border-radius: 50%;
  margin: auto;
}
.info {
  text-align: center;
  padding: 8px;
}
.listStats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0px;
  background-color: grey;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  border: 1px rgb(75, 74, 74) solid;
}
